#backgroundSnake{
    background-image: url("snake.jpg");
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#btnPlay{
    background-color: #dee586;
    color: black;
}

#btnPlay:hover{
    background-color: #D2DB57;
}

#modal{
    display: none;
    background-color: #D2DB57;
}

#titreSnake{
    display: none;
}
#board{
    display: none;
}